.content {
	width: 95%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.graph {
	width: 70%;
	height: inherit;
	margin: auto;
}

.buttons {
	padding: 1em;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
