.form {
	background-color: white;
	padding: 1em;
	width: 30%;
	min-width: 300px;
	height: 300px;
	border-radius: 10px;
	position: absolute;
	z-index: 51;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}
