.divider {
	padding: 0.25em;
	width: 265px;
	height: 600px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 0 auto;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	background-color: #404040;
}

.divider::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.numberOfApps {
	font-weight: 700;
	margin: 1em 0 0 0;
	font-size: 1.2em;
	color: white;
}
