.title {
	margin: 0;
	color: white;
}

.search {
	margin: 1em;
	padding: 0.25em;
	width: 40%;
	background-color: #404040;
	color: white;
	border-radius: 10px;
}

.divider {
	text-align: center;
}

.iconBtn {
	color: white;
	background-color: white;
	max-width: fit-content;
	align-self: center;
}

.main {
	padding: 1em;
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #282828;
}
