.title {
	margin: 0;
}

.search {
	margin: 1em;
	padding: 0.25em;
	width: 40%;
}

.divider {
	text-align: center;
}

.iconBtn {
	color: black;
	max-width: fit-content;
	align-self: center;
}

.test {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
